<center>
  <h1>Editing Movie</h1>
  <div class="container" style="max-width: 50%">
    <%= render 'form', movie: @movie %>
    <br>
    <%= link_to 'Show', @movie, class: "btn btn-outline-secondary" %>
  </div>
</center>
