<p id="notice"><%= notice %></p>

<div class="container" style="max-width: 60%">
  <a class="btn btn-outline-secondary float-right "href="/media/new">New Medium</a>
  <h1>Media</h1>

  <div id="media" class="list-group" data-url="<%= sort_media_path %>">

    <% @media.each do |movie| %>
      <%= link_to movie.title, movie, class: "list-group-item", style: "text-align: center", id: dom_id(movie) %>
    <% end %>
  </div>
</div>
