<p id="notice"><%= notice %></p>

<div class="container" style="max-width: 60%">
  <a class="btn btn-outline-secondary float-right "href="/movies/new">New Movie</a>
  <h1>Media</h1>

  <div id="movies" class="list-group" data-url="<%= sort_movies_path %>">

    <% @movies.each do |movie| %>
      <%= link_to movie.title, movie, class: "list-group-item", style: "text-align: center", id: dom_id(movie) %>
    <% end %>
  </div>
</div>
