<div style='text-align: center'>
  <h1>Editing Recommendation</h1>
  <div class='container'>
    <%= render 'form', medium: @medium %>
    <br>
    <%= link_to 'Show', @medium, class: 'btn btn-outline-secondary' %>
  </div>
</div>
