<center>
  <h1>Editing Suggestion</h1>
  <div class="container" style="max-width: 50%">
    <%= render 'form', medium: @medium %>
    <br>
    <%= link_to 'Show', @medium, class: "btn btn-outline-secondary" %>
  </div>
</center>
