<div class='container' style='text-align: center'>
  <h1>How I've Spent my Time</h1>

  <p class='text-secondary'>(and some totally objective ratings)</p>

  <div class='list-group'>
    <% @media.each do |medium| %>
      <div class="list-group-item">
        <%= render 'shared/stars', percent: medium.review.stars_as_percent %>
        <%= link_to medium.title, medium, style: 'text-align: center' %>
      </div>
    <% end %>
  </div>
</div>
