<div class="container" style="max-width: 60%">
  <a class="btn btn-outline-secondary float-right "href="/media/new">New Recommendation</a>
  <h1>Recommended Movies</h1>

  <%= render 'index' %>
</div>
