<div style='text-align: center'>
  <h1>Reviewing:</h1>
  <h2><%= link_to(@medium.title, medium_path(@medium)) %></h2>
  <div class='container'>
    <%= render 'form', review: @review %>
  </div>
</div>
