<!-- <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">

</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">What To Watch</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/movies">My List</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://www.reddit.com/r/bestofnetflix/">Best of Netflix</a>
      </li>
      </div>
</nav>
