<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">MichaeLists</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/media/movies_index">Movies</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/media/books_index">Books</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="https://www.reddit.com/r/bestofnetflix/top/?t=month">Best of Netflix</a>
    </li>
   </ul>
</nav>
