<nav class='navbar navbar-expand-lg navbar-light bg-light'>

  <ul class='navbar-nav mx-auto' style='text-align: center'>
    <li class='nav-item active'>
      <a class='nav-link text-info' style='font-weight: 600' href='/reviews'>Picks</a>
    </li>
    <li class='nav-item active'>
      <a class='nav-link' href='/media/movies_index'>Films</a>
    </li>
    <li class='nav-item active'>
      <a class='nav-link' href='/media/books_index'>Books</a>
    </li>
    <li class='nav-item active'>
      <a class='nav-link' href='/media/shows_index'>Shows</a>
    </li>
    <li class='nav-item active'>
      <a class='nav-link' href='/media/podcasts_index'>Podcasts</a>
    </li>
    <li class='nav-item active'>
      <a class='nav-link' href='/media/music_index'>Music</a>
    </li>
    <li class='nav-item active'>
      <a class='nav-link text-info' style='font-weight: 600' href='/media'>Watchlist</a>
    </li>
   </ul>
</nav>
