<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/movies">What To Watch</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="https://www.reddit.com/r/bestofnetflix/">Best of Netflix</a>
    </li>
   </ul>
</nav>
